/* media query for laptop & desktops */

@media screen and (min-width: 1100px) {

  .tablet {
    display: none;
  }

  .laptop {
    display: inline-block;
  }

  /* MENU */

  .laptop_menu_logo_div {
    position: fixed;
    width: 160px;
    z-index: 99;
    left: 20vw;
    top: 30px;
    transition: 0.4s;
  }

  .laptop_menu_logo {
    width: 100%;
    position: absolute;
  }

  .laptop_menu_logo-color {
    opacity: 1;
    width: 100%;
    transition: 0.4s;
  }

  .laptop_menu_logo_div--scroll {
    width: 80px;
    left: 20px;
    top: -50px;
  }

  .laptop_menu_logo-color--scroll {
    opacity: 0;
  }


  .hamburger_div {
    display: none;
  }

  .menu {
    transform: translateX(0);
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    padding: 0 30vw;
    width: 40vw;
    transition: 0.4s;
  }

  .menu a {
    text-align: center;
    width: 25%;
    font-size: 0.8rem;
  }

  .menu_small {
    padding: 0 15vw;
    width: 70vw;
    height: 60px;
  }

  .menu_scroll-hide {
    transform: translateY(-60px);
  }

  /* MAIN */

  .product_header {
    display: flex;
    flex-direction: row;
  }

  .product {
    display: flex;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  .energy_section {
    /* background-image: url('../images/energy_bkg-laptop.jpg'); */
    background: none;
  }

  .hydration_section {
    background: none;
  }

  .product_video {
    /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* #hydrationVideo {
  margin-top: 150px;
} */

  .product_title {
    right: 5vw;
    bottom: 45px;
  }

  .product_logo {
    height: 60px;
    position: absolute;
    top: -70px;
  }

  .product_logo_hydration {
    left: -40px;
  }

  .product_logo_energy {
    left: -5px;
  }

  .product_logo_color {
    display: block;
  }

  .product_logo_white {
    display: block;
    z-index: 3;
    transition: 0.4s;
  }

  .video_hover {
    position: absolute;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #000;
    opacity: 0;
    transition: 0.4s;
  }

  .product_title p {
    display: inline-block;
    padding: 5px 15px;
    font-size: 1rem;
    color: #fff;
    border: 2px solid white;
  }

  .product_title:hover p {
    background-color: #fff;
    color: #000;
  }

  .product_title:hover .product_logo_white {
    opacity: 0;
  }

  .product:hover .video_hover {
    opacity: 0.4;
  }

  .video_hover:hover {
    opacity: 0.4;
  }



  /* PROCESSS SECTION */

  video {
    display: block;
  }

  .process_section {
    background-color: #F7F9FB;
  }

  .process_bkg {
    width: 600px;
    margin: 0 auto;
    z-index: 1;
    padding-bottom: 4 0px;
  }

  .process_title_one {
    font-size: 2rem;
    margin: 0;
  }

  .process_title_two {
    font-size: 2rem;
    margin: 0;
  }

  /* ON THE GO SECTION */

  .onthego_bkg {
    width: 100%;
    z-index: 1;
    padding-bottom: 4 0px;
  }

  .onthego_title {
    color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    width: auto;
    right: 25vw;
    display: inline-block;
    bottom: 47%;
    z-index: 5;
    font-size: 5rem;
  }

  .go_white {
    transition: color 0.5s;
  }

  .onthego_title_white {
    /* -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
    color: #fff;
    /* -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: #fff; */
  }

  /* storyline */

  .storyline {
    position: relative;
    height: calc(var(--vh, 1vh) * 95);
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  /* square */

  .storyline_square {
    position: relative;
    width: 50%;
    height: calc(var(--vh, 1vh) * 95);
    z-index: 41;
  }

  /* storyline TEXT */

  .storyline_text {
    width: 50%;
    height: calc(var(--vh, 1vh) * 95);
    position: absolute;
    background: #000;
  }

  /* SLIDER storyline */

  #stage {
    position: relative;
     margin: 0;
     width: 50%;
     height: 100vh;
   }

   #stage .stage_div {
     width: 100%;
     position: absolute;
     height: calc(var(--vh, 1vh) * 95);
   }

   /* TABLETS SECTION */

   .tablets_text {
     text-align: left;
     position: absolute;
     top: 10%;
     left: 5vw;
     right: auto;
   }

   .tablets_text-big {
     margin: 0;
     font-size: 5.5rem;
     font-weight: 900;
   }

   /* SHARE SECTION */

   /* SLIDER share */

   #stageShare {
      height: 85vh;
    }

    #stageShare .stage_div {
      height: 85vh;
    }

    .share_1 {
      background-image: url('../images/share-bkg-desktop.jpg');
    }

    .share_2 {
      background-image: url('../images/share-bkg-desktop-2.jpg');
    }

    .share_3 {
      background-image: url('../images/share-bkg-desktop-3.jpg');
    }

   .sharing_text {
     left: 5vw;
     bottom: 15%;
   }

   .sharing_text h2 {
     font-size: 4.2rem;
   }


   /* ------------------------------------------------------------- */


   /* SINGLE PRODUCT PAGE */

   .energy-single-header {
     background-image: url('../images/energy-single-hero-laptop.jpg');
   }

   .hydration-single-header {
     background-image: url('../images/hydration-single-hero-laptop.jpg');
   }

   .single_product_header h2 {
     margin-top: 40vh;
     color: #fff;
     font-size: 4rem;
     font-weight: 900;
   }

   .xb-logo {
     position: absolute;
     bottom: 30px;
     right: 60px;
     width: 200px;
   }

   .gradient-hydration {
     background-image: linear-gradient(rgba(0,0,0,0), #0BB3E9);
     /* background-image: linear-gradient(rgba(0,0,0,0), #065974); */
   }

   .energy_overview {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
   }

   .energy_overview .overview_text {
     justify-content: center;
     align-items: flex-end;
     height: calc(var(--vh, 1vh) * 100);
     width: 55%;
     right: 50px;
   }

   .hydration_overview .overview_text {
     justify-content: center;
     align-items: flex-start;
     height: calc(var(--vh, 1vh) * 100);
     width: 60%;
   }

   .overview_text h3 {
     color: #fff;
     font-size: 2rem;
   }

   .energy_overview {
     background-image: url('../images/single-overview-energy-laptop.jpg');
     text-align: right;

   }

   .hydration_overview {
     background-image: url('../images/single-overview-hydration-laptop.jpg');
     text-align: left;

   }

   .overview_responsive_background_opacity {
     display: none;
   }

   .energy_overview .overview_responsive_background_opacity {
     position: relative;
     display: block;
     width: 45%;
     opacity: 0;
   }

   .facts {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
   }

   .facts_table_section {
     width: 45%;
     padding: 0 0 0 5%;
   }

   .facts_table_left {
     font-size: 1.2rem;
   }

   .facts_table_right {
     font-size: 1rem;
   }

   .facts_gallery {
     display: block;
     width: 50%;
     padding: 0;
   }

   /* PRODUCT GALLERY */

   .facts_gallery #stage {
     width: 100%;
   }

   .facts_gallery #stage .stage_div {
     height: calc(var(--vh, 1vh) * 85);
   }

   .energy_product_gallery_1 {
     background-image: url('../images/energy-table-2.jpg');
   }

   .energy_product_gallery_2 {
     background-image: url('../images/energy-table-1.jpg');
   }

   .energy_product_gallery_3 {
     background-image: url('../images/energy-table-3.jpg');
   }

   .hydration_product_gallery_1 {
     background-image: url('../images/hydration-table-1.jpg');
   }

   .hydration_product_gallery_2 {
     background-image: url('../images/hydration-table-2.jpg');
   }

   .hydration_product_gallery_3 {
     background-image: url('../images/hydration-table-3.jpg');
   }

   /* CONTACT PAGE */

   .contact_main {
     padding: 35vh 8vw 5vh 8vw;
     flex-direction: row;
   }

   .contact_info {
     text-align: center;
     margin-bottom: 0px;
     width: 30%;
   }

   .contact_form {
     width: 55%;
     padding-left: 15%;
   }

   .contact_info_list li a {
     font-size: 0.8rem;
   }

}

@media screen and (min-width: 1440px) {

  .energy_overview .overview_text {
    width: 55%;
  }

  .energy_overview .overview_responsive_background_opacity {
    width: 45%;
  }

  .hydration_overview .overview_text {
    width: 55%;
  }

  .overview_text h3 {
    color: #fff;
    font-size: 2.5rem;
  }

  /* CONTACT PAGE */

  .contact_main {
    padding: 30vh 8vw 20vh 8vw;
  }

}
