@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: proxima-nova,sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: proxima-nova,sans-serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-family: proxima-nova,sans-serif;
  font-weight: 800;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

video {
  display: none;
}

/* hamburger menu icon */

.menu_responsive-hide {
	transition: 0.5s;
	opacity: 0;
  	transform: translateY(-60px);
}

.menu_responsive-show {
	transition: 0.5s;
  	top: 0px;
}

.hamburger_div {
  z-index: 99;
  background-color: #000;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

.hamburger_logo {
  width: 100px;
}

.hamburger {
  display: block;
  top: 20px;
  left: 15px;
  position: absolute;
}

.hamburger_icon {
  width: 36px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

/* Hamburger icons animation */

.hamburger_icon_one {
  transform-origin: center center;
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.hamburger_icon_two {
  opacity: 0;
}

.hamburger_icon_three {
  transform-origin: center center;
  transform: rotate(-45deg) translateY(-6px) translateX(6px);
}

/* menu hidden */

.menu {
  position: fixed;
  z-index: 50;
  top: 0;
  background-color: #000;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100vw);
  transition: 0.4s;
}

/* menu show */

.menu_show {
  transform: translateX(0vw);
}

.menu a {
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 25px 0;
}

.ig_menu {
  width: 30px;
}

/* MAIN BODY */

.xtreme_boost_title {
  position: absolute;
  top: -30px;
}

.product_header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(var(--vh, 1vh) * 94);
  padding-top: 6vh;
}

.product {
  position: relative;
  width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.energy_section {
  background-image: url('../images/energy_bkg.jpg');
}

.hydration_section {
  background-image: url('../images/hydration_bkg.jpg');
}

.product_title {
  position: absolute;
  right: 15px;
  bottom: 15px;
  text-align: center;
}

.product_logo {
  height: 35px;
}
.product_logo_white {
  display: none;
}

.product_title p {
  margin: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  border: 2px solid white;
  border-radius: 50px;
  padding: 5px 15px;
  cursor: default;
  transition: 0.4s;
}

.product_title:hover p {
  background-color: #fff;
  color: #000;
}

/* PROCESS */

.process_section {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  text-align: center;
}

.process_bkg {
  /* position: absolute; */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding-bottom: 4 0px;
}

.tablet {
  display: none;
}

.laptop {
  display: none;
}

.process_title_one {
  text-align: left;
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 5vw;
  color: #959595;
  font-size: 1.3rem;
}

.process_title_outline {
  /* color: #959595; */
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: #959595;
}

.process_title_two {
  text-align: left;
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 5vw;
  color: #959595;
  font-size: 1.3rem;
}

.onthego_section {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  text-align: center;
}

.onthego_bkg {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding-bottom: 4 0px;
}

.onthego_title {
  width: 100%;
  color: #fff;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 800;
  bottom: 5px;
  z-index: 5;
}

/* storyline */

.storyline {
  position: relative;
  height: calc(var(--vh, 1vh) * 80);
}

/* square */

.storyline_square {
  position: absolute;
  width: 100%;
  height: calc(var(--vh, 1vh) * 80);
  z-index: 41;
}

.story_square {
  position: absolute;
  width: 30px;
}

.top_left {
  top: 10px;
  left: 10px;
}

.top_right {
  top: 10px;
  right: 10px;
}

.bottom_left {
  bottom: 10px;
  left: 10px;
}

.bottom_right {
  bottom: 10px;
  right: 10px;
}

/* storyline TEXT */

.storyline_text {
  width: 100%;
  height: 80vh;
  position: absolute;
  z-index: 40;
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.storyline_text_block {
  text-align: left;
}

.storyline_text h2 {
  margin: 0;
}

.quote_one {
  transition: 0.4s;
}

.quote_one-outline {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: rgba(0,0,0,0.1);
}

@keyframes fader {
  from { opacity: 1.0; }
  to   { opacity: 0.0; }
}

/* SLIDER storyline */

#stage {
   margin: 0 auto;
   width: 100%;
 }

 #stage .stage_div {
   width: 100%;
   position: absolute;
   /* background: #000; */
   height: 80vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
 }

 .stage_div img {
   width: 100%;
 }

 .story_1 {
   background-image: url('../images/storyline1.jpg');
 }

 .story_2 {
   background-image: url('../images/storyline2.jpg');
 }

 .story_3 {
   background-image: url('../images/storyline3.jpg');
 }

 .story_4 {
   background-image: url('../images/storyline4.jpg');
 }

 #stage .stage_div:nth-of-type(1) {
   animation-name: fader;
   animation-delay: 2.5s;
   animation-duration: 0.5s;
   z-index: 20;
 }
 #stage .stage_div:nth-of-type(2) {
   z-index: 10;
 }
 #stage .stage_div:nth-of-type(n+3) {
   display: none;
 }



 /* TABLETS SECTION */

 .tablets {
   position: relative;
   display: flex;
   flex-direction: column;
 }

 .tablets_bkg {
   width: 100%;
 }

 .tablets_text {
   text-align: right;
   color: #fff;
   position: absolute;
   top: 20%;
   right: 30px;
 }

 .tablets_text h3 {
   font-weight: 800;
   margin: 0;

 }

 .tablets_text-big {
   margin: 0;
   font-size: 3.4rem;
   font-weight: 900;
 }

 .tablets_text-outline {
   -webkit-text-fill-color: rgba(255,255,255,0.01); /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1.3px;
   -webkit-text-stroke-color: #fff;
 }

/* SHARE SECTION */

 .sharing {
   position: relative;
   display: flex;
   flex-direction: column;
 }


 /* SLIDER share */

 #stageShare {
    margin: 0 auto;
    width: 100%;
    height: 60vh;
  }

  #stageShare .stage_div {
    width: 100%;
    position: absolute;
    /* background: #000; */
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #stageShare .stage_div:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 2.5s;
    animation-duration: 0.5s;
    z-index: 20;
  }
  #stageShare .stage_div:nth-of-type(2) {
    z-index: 10;
  }
  #stageShare .stage_div:nth-of-type(n+3) {
    display: none;
  }


  .share_1 {
    background-image: url('../images/share-bkg.jpg');
  }

  .share_2 {
    background-image: url('../images/share-bkg-2.jpg');
  }

  .share_3 {
    background-image: url('../images/share-bkg-3.jpg');
  }

 .sharing_text {
   color: #fff;
   position: absolute;
   left: 10vw;
   bottom: 40px;
   z-index: 25;
 }

 .sharing_text h2 {
   font-size: 2.4rem;
   margin: 0;
 }

 .sharing_text-outline {
   -webkit-text-fill-color: rgba(0,0,0,0.01); /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1.3px;
   -webkit-text-stroke-color: #fff;
 }

/* FOOTER */

 .footer {
   background-color: #000;
   text-align: center;
   padding: 40px 0;
 }

 .footer_vitaenergy_logo {
   width: 150px;
   margin-bottom: 20px;
 }

 .footer_info {
   text-align: center;
   color: #fff;
 }

 .footer_info p {
   margin: 0px;
   font-size: 0.8rem;
 }



/* media query for tablets */

@media screen and (min-width: 520px) {

  .energy_section {
    background-image: url('../images/energy_bkg-tablet.jpg');
  }

  .hydration_section {
    background-image: url('../images/hydration_bkg-tablet.jpg');
  }

  .res {
    display: none;
  }

  .tablet {
    display: inline-block;
  }

  .laptop {
    display: none;
  }

  .storyline_text h2 {
    font-size: 2.7rem;
  }

  .tablets_text h3 {
    font-size: 2rem;
  }

  .tablets_text-big {
    font-size: 5rem;
  }

  .sharing_text h2 {
    font-size: 3rem;
  }

}
